span.clubs {
  color: #32AD01;
}
span.diamonds {
  color: #FF9B00;
}
span.hearts {
  color: #FF0000;
}
span.spades {
  color: #33339B;
}

.main-content {
  
  * {
    line-height: 1.2em;
  }

  // th, td {
  //   min-width: 0;
  // }

  // table {
  //   min-width: 0;
  // }

  // .table-wrapper{
  //   width: auto;
  //   display: inline-block;
  // }

  h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
  }

  //reserved for sequences
  .maincontent h4,h5,h6 {
    font-size: 16px;
    border-right: medium solid #33339B;
  }

  .maincontent dl {
    border-right: medium dashed #557ed1;
  }

  ul, ol {
    margin-top: 0;
  }

  dl {
    margin-top: -1em;
    grid-template-columns: min-content auto;
  }

  dt {
    text-align: left;
    white-space: nowrap;
    &::after {
      //remove colon
      content: "";
    }
  }

  dt,
  dd {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2em;
  }

  // remove negative margin for dl

  h1, h2, h3, h4, h5, h6, #markdown-toc {
    + dl {
      margin-top: 0em;
    }
  }
}